services:
  cache:
    image: redis:4-alpine

  socket:
    image: socketcluster/socketcluster:v19.1.2
    container_name: fleetbase-db
    ports:
      - "38000:8000"
    environment:
      SOCKETCLUSTER_WORKERS: 10
      SOCKETCLUSTER_BROKERS: 10
      SOCKETCLUSTER_PORT: 8000
      SOCKETCLUSTER_PATH: /socketcluster/
      SOCKETCLUSTER_SECURE: true
      SOCKETCLUSTER_KEY_FILE: /etc/ssl/2024/travo.com.key
      SOCKETCLUSTER_CERT_FILE: /etc/ssl/2024/travo_ng.crt
      SOCKETCLUSTER_CA_FILE: /etc/ssl/2024/travo_ng.ca-bundle

  queue:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: events-dev
      args:
        ENVIRONMENT: production
    environment:
      DATABASE_URL: "mysql://fltnop@206.189.123.95/travo_production"
      QUEUE_CONNECTION: redis
      CACHE_DRIVER: redis
      CACHE_PATH: /fleetbase/api/storage/framework/cache
      CACHE_URL: tcp://cache
      REDIS_URL: tcp://cache

  console:
    build:
      context: .
      dockerfile: console/Dockerfile.server-build
      args:
        ENVIRONMENT: production
    ports:
      - "4200:4200"
    volumes:
      - console-build:/console

  application:
    container_name: fleetbase-application-1
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: app-dev
      args:
        ENVIRONMENT: production
        GITHUB_AUTH_KEY: ${GITHUB_AUTH_KEY}
    volumes:
      - /var/www/html/api:/fleetbase/api
      - console-build:/fleetbase/console
    environment:
      ENVIRONMENT: production
      QUEUE_CONNECTION: redis
      CACHE_DRIVER: redis
      CACHE_PATH: /fleetbase/api/storage/framework/cache
      CACHE_URL: tcp://cache
      REDIS_URL: tcp://cache
      SESSION_DOMAIN: localhost
      BROADCAST_DRIVER: socketcluster
      MAIL_FROM_NAME: Fleetbase
      APP_NAME: Fleetbase
      LOG_CHANNEL: daily
      MODEL_CACHE_ENABLED: 'true'
      RESPONSE_CACHE_ENABLED: 'true'
      RESPONSE_CACHE_DRIVER: redis
      REGISTRY_HOST: https://registry.fleetbase.io
      REGISTRY_PREINSTALLED_EXTENSIONS: 'true'
      OSRM_HOST: https://router.project-osrm.org
    depends_on:
      - cache
      - queue

  httpd:
    build:
      context: .
      dockerfile: docker/httpd/Dockerfile
    ports:
      - "8000:80"
    depends_on:
      - application

volumes:
  console-build:
